md-sidenav md-component-id="left" md-swipe-left="openMenu()"
  md-toolbar
    .md-toolbar-tools
      md-button ng-click="openMenu()"
        | Close
  md-content.md-padding
    md-button ng-click="openMenu()"
      | Blue Bottle
