doctype html
html lang="en"
	head
	  	meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		link rel="stylesheet" href="css/main.css"
		link rel="stylesheet" href="vendors/angular-material/angular-material.css"
        script src="vendors/angular/angular.js"
        script src="vendors/angular-animate/angular-animate.js"
        script src="vendors/angular-aria/angular-aria.js"
        script src="vendors/angular-material/angular-material.js"
        script src="js/bundle.js"
	body ng-app="BrewCoffee"
	  div ng-controller="MyController"
		md-toolbar layout="row"
		  .md-toolbar-tools
			md-button ng-click="openMenu()"
				| Menu
		  	h1 Brew Coffee
		div
		  md-sidenav md-component-id="left"
		  	md-toolbar
			  .md-toolbar-tools
				md-button ng-click="openMenu()"
				 | Close
		    md-content.md-padding
			  md-button ng-click="openMenu()"
				| Blue Bottle